blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
//  quotes: "\201C""\201D""\2018""\2019";
}
//blockquote:before {
//  color: #ccc;
//  content: open-quote;
//  font-size: 4em;
//  line-height: 0.1em;
//  margin-right: 0.25em;
//  vertical-align: -0.4em;
//}
//blockquote p {
  //display: inline;
//}

.dj_task {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding-top: 20px;
}
.dj_task_title {
    font-size: large;
    font-weight: bold;
    font-variant: normal;
    background-color: #FFCE14;

    padding: 2px 2px 2px 2px;
}
.dj_activity {
    background-color: #CCC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.dj_book p {     padding-top: 8px; }


   .dj_icon_left {        width: 130px; float: left; padding: 5px }
   .dj_icon_right { min-width: 50px; float: right; background-color: green; padding: 5px }

  .dj_left,.dj_right {
      float:left;
      min-width:15px;
      padding: 10px;
   }
   .dj_clearer {
     clear:both;
     height:0;
   }
div.dj_figure {
  float: right;
  min-width: 15px;
   cellpadding: 10px;
//  background-color: #aa0000;
}

p li {
  line-height: 1.3em;
  word-spacing: -0.05em;
}

.book_chapter_title h3 { margin-left: 15px; font-size: 80%  }

div.dj_figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
 .dj_date_table { position: relative},
.dj_date_left {
      float:left;min-width:100px;
   }
     .dj_date_left { float: left; min-width:50px }
   .dj_date_right{ font-size:xx-small; position: absolute; bottom:0 }
//   .dj_date_right{ font-size:xx-small; vertical-align: text-bottom; min-width: 100px }
  .dj_header{ border-bottom-width: 0px; } //border-bottom-style: initial; border-bottom-color: initial; }

.dj_table_header {
    font-weight: bold;

}
.dj_table_header th {     background-color: #FFCE14; padding: 10px; border: 1px solid white;  text-align: left }

.dj_table_header td {     background-color: #FFFF00; padding: 10px; border: 1px solid white;                         text-align: left }

.dj_table_alt_header th  { background-color: #FFdd00; padding: 10px; border: 1px solid white; text-align: left }

td.empty { border: 1px black }

td.table_cell { background-color: #FFdd00; padding: 10px; border: 1px solid white; text-align: left }

.dj_table th { text-align:left; border: 1px solid white; padding: 10px }
th { text-align:left; border: 1px solid white; padding: 10px }

.dj_table {
    cellpadding: 10px;
        border-style: solid;
   border-style: solid;
   border-width: 1px;
   border-color: #ffffff;
}
tr { vertical-align: top; }
.table_row {
    background-color: #ddd;
    vertical-align: top;
}
table.dj_table td { padding: 10px; border: 1px solid white }
.table_alt_row {
    background-color: #ccc;
    vertical-align: top;
}   .dj_header{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }

